<div class="widget-wrap">
    <h3 class="widget-title">About Me</h3>
    <div class="widget">
        Hi, I'm Jamie Geddes, a senior software engineer at <a href="https://www.craneware.com">Craneware</a>. I work in a variety of technologies, and like to write about the things I'm currently working with.
        <br />
        <a href="/about">Read more...</a>
    </div>
</div>